name: Scheduled Playwright Tests

on:
  workflow_dispatch:
    branches:
      - main
      - feature/ci-workflows
  schedule:
    - cron: '0 6 * * 1-5'  

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests with Allure reporter
        run: npx playwright test --project=chromium --reporter=line,allure-playwright
      - name: Generate Allure HTML report
        run: npx allure generate allure-results --clean -o allure-report
      - name: Upload Allure report artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report/
      - name: Send notification to Google Chat
        env:
          GCHAT_WEBHOOK_URL: ${{ secrets.GCHAT_WEBHOOK_URL }}
          RUN_ID: ${{ github.run_id }}
          REPO: ${{ github.repository }}
        run: |
          MSG="Playwright Scheduled Tests finished. View report and download artifact here: https://github.com/$REPO/actions/runs/$RUN_ID"
          curl -X POST -H 'Content-Type: application/json' -d "{\"text\": \"$MSG\"}" $GCHAT_WEBHOOK_URL
